*.log
compile_commands.json
.vscode/
codeql-db/
build/
docs/doxygen/
tests/plt*
tests/chk*
tests/*.csv
tests/plt*
sims/
.clangd
__pycache__
*.code-workspace
*.sarif

*.aux
*.dbl
*.bbl
*.blg
*.dep
*.fdb_latexmk
*.fls
*.synctex.gz

*.mp4
*.pdf
.DS_Store
.cache

# Acme output files
+Errors

# image files
*.png

# Documentation build directory
docs/api/
docs/doxyoutput/
_build/

# Kokkos build files
KokkosCore_config.h
KokkosCore_config.tmp

# Emacs history files
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
