pybtex==0.24.0
mkdocs-material>=9.5.9
mkdocs-include-markdown-plugin>=6.0.4
mkdocs-exclude>=1.0.2
mkdocs-macros-plugin>=1.0.4
pymdown-extensions
mkdocs-awesome-pages-plugin
mkdocs-material
mkdocs-bibtex==4.4.0
mkdocs-mermaid2-plugin
