---
Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,performance-move-const-arg,performance-unnecessary-copy-initialization,performance-for-range-copy,modernize-use-nullptr,readability-braces-around-statements'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: bugprone-assert-side-effect.AssertMacros
    value: assert
  - key: bugprone-assert-side-effect.CheckFunctionCalls
    value: '0'
  - key: bugprone-dangling-handle.HandleClasses
    value: 'std::basic_string_view;std::experimental::basic_string_view'
  - key: bugprone-string-constructor.LargeLengthThreshold
    value: '8388608'
  - key: bugprone-unused-return-value.CheckedFunctions
    value: '::std::async;::std::launder;::std::remove;::std::remove_if;::std::unique;::std::unique_ptr::release;::std::basic_string::empty;::std::vector::empty'
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: '1'
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: '0'
  - key: performance-unnecessary-copy-initialization.AllowedTypes
    value: ''
  - key: readability-braces-around-statements.ShortStatementLines
    value: '0'
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
...
